body {
    margin: 0;
    box-sizing: border-box;
}
nav {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 62%, rgba(9, 232, 68, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
nav div {
    display: flex;
}
nav ul {
    list-style-type: none;
    float: right;
}
nav ul li {
    display: inline;
}
nav ul a {
    text-decoration: none;
    color: #444;
    padding: 20px;
}
nav ul li button {
    border: 1px solid #333;
    border-radius: 10px;
}
#icon_image {
    height: 70px;
}
#search_bar {
    border: 1px solid #333;
    border-radius: 25px;
    padding: 7px;
    background-color: white;
}